<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include = "fragments :: headElement">
	<title>Error Page</title>
</head>
<body>
	<!--Navigation Bar-->
	<div th:insert = "fragments :: navBar"></div>
	<div class = "errorWrap">
		<div class = "errorIcon">
			<i class="fas fa-exclamation-triangle"></i>
		</div>
		<div class = "errorText">
			<h1>404 Error</h1>
			<h1>The page you requested either does not exist or the database has reached it's maximum activity threshold. Please try again in an hour.</h1>
		</div>
		<div class = "requestButtons">
			<a th:href="@{/}"><button class = "validButton">Back to Home Page</button></a>
		</div>
	</div>
	<!--Footer-->
	<div th:insert="fragments :: footer"></div>
	<!--JavaScript Scripts-->
	<div th:insert="fragments :: jsScripts"></div>
</body>