<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: headElement">
<title>MySkills</title>
</head>
<body>
	<!--Navigation Bar-->
	<div th:insert="fragments :: navBar"></div>
	<div class="pageBanner">
		<h1>
			I work with <span class="typedEffect"></span>
		</h1>
	</div>
	<!--Each span will be iterated through in the page banner-->
	<div class="typedData">
		<span>AWS</span><span>Java</span><span>JavaScript</span><span>Python</span><span>HTML</span><span>CSS</span><span>jQuery</span><span>MySQL</span>
		<span>NoSQL</span><span>Django</span><span>Spring Boot</span><span>Bootstrap</span><span>Git</span><span>GitHub</span><span>Flask</span>
		<span>Thymeleaf</span><span>Jinja</span><span>API's</span><span>Flask</span><span>gRPC</span><span>MQTT</span><span>Heroku</span>
	</div>
	<div class="container">
		<div class = "row">
			<!--Filter options to filter between front end, back end and full stack skills-->
			<form class = "skillFilter"  method = "post">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<div class = "form-group">
					<select class="selectpicker" data-live-search="true" id="filterSkills" name = "filterSkills">
						<option selected disabled>Filter Skills</option>
						<option value = "-1">All</option>
						<th:block th:each = "type: ${developmentTypeList}">
							<option th:text = "${type.type}" th:value = "${type.developmentTypeId}"/>
						</th:block>
					</select>
				</div>
			</form>
		</div>
		<h2 th:text = "${filterOption} + ' Technologies'"></h2>
		<div class="row">
			<!--Create a card for each skill in the database-->
			<th:block th:each = "skill: ${skillList}">
				<div class="col-sm-3">
					<div class="card card-flip">
						<div class="card-front">
							<div class="card-body">
								<h3 th:text = "${skill.name}"></h3>
								<!--Each card image will be different based on the skill name-->
								<img th:if= "${skill.name == 'Amazon RDS'}" src="image/rds.jpg" alt="amazonRDSLogo">
								<img th:if= "${skill.name == 'Amazon S3'}" src="image/s3.jpg" alt="amazonS3Logo">
								<img th:if= "${skill.name == 'API'}" src="image/Api.jpg" alt="apiImage">
								<img th:if= "${skill.name == 'Bootstrap'}" src="image/bootstrap.jpeg" alt="bootstrapLogo">
								<img th:if= "${skill.name == 'CSS'}" src="image/CSS.jpg" alt="cssLogoImage">
								<img th:if= "${skill.name == 'Django'}" src="image/django.jpeg" alt="djangoLogoImage">
								<img th:if= "${skill.name == 'Flask'}" src="image/flask.jpg" alt="flaskLogomage">
								<img th:if= "${skill.name == 'Git'}" src="image/git.jpg" alt="gitLogoImage">
								<img th:if= "${skill.name == 'GitHub'}" src="image/gitHub.jpg" alt="gitHubLogoImage">
								<img th:if= "${skill.name == 'Heroku'}" src="image/heroku.jpg" alt="herokuLogoImage">
								<img th:if= "${skill.name == 'HTML'}" src="image/html.jpg" alt="htmlLogoImage">
								<img th:if= "${skill.name == 'Java'}" src="image/java.jpg" alt="javaLogoImage">
								<div class="buttonContainer d-md-none">
									<button class="cardButton">Flip</button>
								</div>
							</div>
						</div>
						<div class="card-back">
							<div class="card-body">
								<h3 th:text = "${skill.name}"></h3>
								<p class="fw-bold">What is it?</p>
								<p th:text = "${skill.description}"></p>
								<div class="buttonContainer d-md-none">
									<button class="cardButton">Flip</button>
								</div>
							</div>
						</div>
					</div>
					<br>
				</div>
			</th:block>
		</div>
	</div>
	<div th:insert="fragments :: footer"></div>
	<!--JavaScript Scripts-->
	<div th:insert="fragments :: jsScripts"></div>
</body>
</html>